@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Source Sans 3", sans-serif;
  src: url(./Fonts/Nunito-Regular.ttf);
}

@layer components {
  .aside-link-hover:hover {
    background: linear-gradient(180deg, #22c157, #1a614f);
    color: white;
  }
  .gm-style .place-card-large {
    display: none;
  }
}

* {
  font-family: "Source Sans 3", sans-serif;
}

/* font-family: 'Source Sans 3', sans-serif; */
