@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito", sans-serif;
  font-family: "Source Sans 3", sans-serif;
  src: url(./Fonts/Nunito/Nunito-Black.ttf) format("truetype"),
    url(./Fonts/Nunito/Nunito-Bold.ttf) format("truetype"),
    url(./Fonts/Nunito/Nunito-ExtraBold.ttf) format("truetype"),
    url(./Fonts/Nunito/Nunito-ExtraLight.ttf) format("truetype"),
    url(./Fonts/Nunito/Nunito-Italic.ttf) format("truetype"),
    url(./Fonts/Nunito/Nunito-Light.ttf) format("truetype"),
    url(./Fonts/Nunito/Nunito-Medium.ttf) format("truetype"),
    url(./Fonts/Nunito/Nunito-Regular.ttf) format("truetype"),
    url(./Fonts/Nunito/Nunito-SemiBold.ttf) format("truetype");
}
/* @font-face {
  font-family: "Nunito", sans-serif;
  src: url(./Fonts/Nunito/Nunito-Regular.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
} */

@layer components {
  .aside-link-hover:hover {
    background: linear-gradient(180deg, #22c157, #1a614f);
    color: white;
  }
  /* Hiding the Small Card on the Map  */
  .gm-style .place-card-large {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .CartProductDetails table thead {
      display: none;
    }
    .CartProductDetails table tr,
    tbody,
    td {
      display: block;
      width: 100%;
    }
    .CartProductDetails table tr {
      margin-bottom: 20px;
    }
    .CartProductDetails tr td {
      text-align: -webkit-right;
      position: relative;

      margin: 3px 0px;
    }
    .CartProductDetails table tbody tr td::before {
      content: attr(data-aria-label);
      position: absolute;
      text-align: left;
      left: 0;
    }
  }
}

body {
  font-family: "Nunito", sans-serif;
  /* font-family: "Source Sans 3", sans-serif; */
}
